<component name="ArtifactManager">
  <artifact type="exploded-ear" name="springboot_service:javaEEApplication exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springboot_service_javaEEApplication_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springboot_service/javaeeApplication/javaEEApplication" />
    </root>
  </artifact>
</component>